<p>Hai, I'm a dirty filthy whore page</p>

<h3> <%= flash[:notice] %></h3>

<h1>Users</h1>
<table border=1>
	<thead>
		<tr>
			<th>Name</th>
			<th>Lastname</th>
			<th>Email</th>
			<th>Birthday</th>
			<th>Created at</th>
			<th>Updated at</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.name %></td>
				<td><%= user.lastname %></td>
				<td><%= user.email %></td>
				<td><%= user.birthday %></td>
				<td><%= user.created_at %></td>
				<td><%= user.updated_at %></td>
				<td>
					<%= link_to "Edit", edit_user_path(user) %>
					<%= link_to "Delete", user_path(user), method: :delete, confirm: "Sure?" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Create User", new_user_path %>