<h1>Profile (Kill them all): <%= @profile.user.complete_name %></h1>
<p>
	<b>Phone: </b>
	<%= @profile.phone %>
</p>
<p>
	<b>Country: </b>
	<%= @profile.country %>
</p>
<p>
	<b>City: </b>
	<%= @profile.city %>
</p>
<p>
	<b>Zip Code: </b>
	<%= @profile.zip_code %>
</p>
<p>
	<b>Line 1: </b>
	<%= @profile.line1 %>
</p>
<p>
	<b>Line 2: </b>
	<%= @profile.line2 %>
</p>
<p>
	<b>URL Gravatar: </b>
	<%= @profile.url_gravatar %>
</p>