<h3> <%= flash[:notice] %></h3>

<h1>Book: <%= @book.title %></h1>

<% unless @read %>
	<%= link_to "Read", read_book_path, method: :patch %>
<% end  %>

<p>
	<b>Author: </b>
	<%= @book.author %>
</p>
<p>
	<b>Publish Date: </b>
	<%= @book.publish_date %>
</p>
<p>
	<b>Page Count: </b>
	<%= @book.page_count %>
</p>
</br>

<table border="1">
	<thead>
		<tr>
			<th>User</td>
			<th>Comment</td>
		</tr>
	</thead>
	<tbody>
		<% @book.comments.each do |comment| %>
			<tr>
				<td><%= comment.user.complete_name %></td>
				<td><%= comment.content %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Read by: </h3>
<% @book.users.each do |user| %>
	<b><%= user.complete_name %></b>
<% end %>
</br>
</br>
<%= link_to "Create Comment", new_book_comment_path(@book) %>